<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/mainheader :: mainheader"></head>

<body>

<div class="container">

    <div th:include="fragments/mainnavbar:: mainnavbar"></div>
    <div th:include="fragments/mainwelcometext:: mainwelcometext"></div>

    <div th:if="${errMsg}" class="alert alert-danger">
        <p th:text="${errMsg}">Error Message</p>
    </div>

    <div class="row">
        <div class="col-sm">
            <div th:if="${selectedTeam}" >
                <h6 class="float-left">Team:</h6><h9 th:text="${selectedTeam.name}" class="float-right">Selected Team</h9></span>
            </div>
            <div th:unless="${selectedTeam}" >
                <h6 class="float-left">Team:</h6><h9 class="float-right">(Please select)</h9></span>
            </div>
        </div>
        <div class="col-sm">
            <div th:if="${selectedProject}" >
                <h6 class="float-left">Project:</h6><h9 th:text="${selectedProject.name}" class="float-right">Selected Team</h9></span>
            </div>
            <div th:unless="${selectedProject}">
                <h6 class="float-left">Project:</h6><h9 class="float-right">(Please select)</h9></span>
            </div>
        </div>
        <div class="col-sm">
            <h6>Working Papers:</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div th:if="${selectedTeam}" >
                <div> <a th:href="@{|/ui/project/new/${selectedTeam.id}|}" th:text="#{generic.new}">New...</a></div>
            </div>
            <div th:unless="${selectedTeam}" >
                <div>New</div>
            </div>
        </div>
        <div class="col-sm">
            <div th:if="${selectedProject}" >
                <div> <a th:href="@{|/ui/workingpaper/new/${selectedTeam.id}/${selectedProject.id}/|}" th:text="#{generic.new}">New...</a></div>
            </div>
            <div th:unless="${selectedProject}" >
                <div>New</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">

            <form id="selectteamform"
                  th:action="@{/ui/welcome}"
                  th:object="${teamForm}"
                  method="POST"
                  enctype="multipart/form-data">

                <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                    <select th:value="${teamForm.id}"
                            id="id"
                            name="id"
                            class="custom-select mt-2" size="6">
                        <div th:if="${selectedTeam}" >
                            <option th:each="team : ${teams}"
                                    th:value="${team.id}"
                                    th:text="${team.name}"
                                    th:selected="${team.id == selectedTeam.id}">
                            </option>
                        </div>
                        <div th:unless="${selectedTeam}" >
                            <option th:each="team : ${teams}"
                                    th:value="${team.id}"
                                    th:text="${team.name}">
                            </option>
                        </div>
                    </select>
                    <button type="submit" class="btn btn-outline-dark btn-sm float-right mt-2">Select</button>
                </div>
            </form>

        </div>
        <div class="col-sm">
            <div th:if="${selectedTeam}" >

                <form id="selectprojectform"
                      th:action="@{|/ui/welcome/${selectedTeam.id}/project|}"
                      th:object="${projectForm}"
                      method="POST"
                      enctype="multipart/form-data">

                    <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                        <select th:value="${projectForm.id}"
                                id="id"
                                name="id"
                                class="custom-select mt-2" size="6">
                            <div th:if="${selectedProject}" >
                                <option th:each="project : ${projects}"
                                        th:value="${project.id}"
                                        th:text="${project.name}"
                                        th:selected="${project.id == selectedProject.id}">
                                </option>
                            </div>
                            <div th:unless="${selectedProject}" >
                                <option th:each="project : ${projects}"
                                        th:value="${project.id}"
                                        th:text="${project.name}">
                                </option>
                            </div>
                        </select>
                        <input type="hidden" id="teamId" name="teamId" th:field="*{teamId}">
                        <button type="submit" class="btn btn-outline-dark btn-sm float-right mt-2">Select</button>
                    </div>

                </form>
            </div>
            <div th:unless="${selectedTeam}" >
                <select class="custom-select mt-2" size="6">
                </select>
                <div class="float-right mt-2">
                    <button type="button" class="btn btn-outline-dark btn-sm tm-2" disabled>Select</button>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div th:if="${selectedProject}" >

                <form id="selectwpform"
                      th:action="@{|/ui/welcome/${selectedTeam.id}/${selectedProject.id}/wp|}"
                      th:object="${wpForm}"
                      method="POST"
                      enctype="multipart/form-data">

                    <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                        <select th:value="${wpForm.id}"
                                id="id"
                                name="id"
                                class="custom-select mt-2" size="6">
                                <div th:if="${selectedWp}" >
                                    <option th:each="workingpaper : ${workingPapers}"
                                            th:value="${workingpaper.id}"
                                            th:text="${workingpaper.name}"
                                            th:selected="${workingpaper.id == selectedWp.id}">
                                    </option>
                                </div>
                                <div th:unless="${selectedWp}" >
                                    <option th:each="workingpaper : ${workingPapers}"
                                            th:value="${workingpaper.id}"
                                            th:text="${workingpaper.name}">
                                    </option>
                                </div>

                                <option >
                                </option>
                        </select>
                        <div class="float-right mt-2">
                            <button type="submit" class="btn btn-outline-success btn-sm tm-2">Go</button>
                        </div>
                    </div>

                </form>

            </div>
            <div th:unless="${selectedProject}" >
                <select class="custom-select mt-2" size="6">
                </select>
                <div class="float-right mt-2">
                    <button type="button" class="btn btn-outline-success btn-sm tm-2" disabled>Go</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br></br>
    </div>
    <div class="row">
        <div class="mt-1 col-md-12">
            <div class="card text-white bg-dark mb-3 " style="max-width: 100%;">
                <div class="card-header">About</div>
                <div class="card-body text-dark bg-light zeroPadding">
                    <textarea class="form-control bg-light helpTextDisplay" name="txt" rows="6" th:text="${helpText.txt}" readonly></textarea>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:include="fragments/mainfooter:: mainfooter"></div>

</body>
</html>