<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/adminheader :: adminheader"></head>

<body>

<div class="container">

    <div th:include="fragments/adminnavbar:: adminnavbar"></div>

    <div class="row mt-2">
        <div class="col-md-7">
            <div class="well">
                <div class="text-left">
                    <h4 class="display-6">Create new User</h4>
                    <form id="newhelptextform"
                          th:action="@{/admin/user}"
                          th:object="${user}"
                          method="POST"
                          enctype="multipart/form-data">

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p th:text="#{form.newhelptext.hasErrors}">Error Message</p>
                        </div>

                        <div th:if="${errMsg}" class="alert alert-danger">
                            <p th:text="${errMsg}">Error Message</p>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('firstName')} ? 'form-group has-error' : 'form-group'">
                                    <label for="firstName" th:text="#{user.firstName}">FirstNAme</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control" th:field="*{firstName}" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('firstName')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('firstName')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('lastName')} ? 'form-group has-error' : 'form-group'">
                                    <label for="lastName" th:text="#{user.lastName}">LastName</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control" th:field="*{lastName}" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('lastName')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('lastName')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
                                    <label for="email" th:text="#{user.email}">Email</label>
                                    <input type="text" id="email" name="email" class="form-control" th:field="*{email}" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('lastName')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('authId')} ? 'form-group has-error' : 'form-group'">
                                    <label for="authId" th:text="#{user.authId}">Auth ID</label>
                                    <input type="text" id="authId" name="authId" class="form-control" th:field="*{authId}" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('authId')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('authId')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a class="btn btn-info" href="/admin/user" role="button">Cancel</a>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

<div th:include="fragments/adminfooter:: adminfooter"></div>

</body>
</html>