<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>bdgasweb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var teamObjJava = {
        name: [[${teamObj.name}]],
        id: [[${teamObj.id}]]
    }
    var projectObjJava = {
        name: [[${projectObj.name}]],
        id: [[${projectObj.id}]]
    }
    var wpObjJava = {
        name: [[${wpObj.name}]],
        id: [[${wpObj.id}]]
    }
    var tasksObjJava= [[${tasksObj}]];
    var delimitersObjJava= [[${delimitersObj}]];
    var helpTextsObjJava = [[${helptextsObj}]];
    var userNameJava = [[${userName}]];
    var accessTokenJava = [[${accessToken}]];

    /*]]>*/
</script>
<script type="text/javascript" src="/js/build.js"></script>

</body>
</html>
