<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>BDGAS - Welcome</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="custom.css" />

</head>

<body>

    <div class="container">

        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">BDGAS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/">Log Out</a>
                </div>
            </div>
        </nav>

        <h1 class="display-3">Welcome to BDGAS</h1>
        <h4 class="display-5">Big Data Enabled Generalised Audit Software</h4>
        <hr></hr>
        <br></br>

        <div class="row">
            <div class="col-sm">
                <h6>Projects</h6>
            </div>
            <div class="col-sm">
                <h6>Clusters</h6>
            </div>
            <div class="col-sm">
                <h6>Teams</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                New...
            </div>
            <div class="col-sm">
                New...
            </div>
            <div class="col-sm">
                New...
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <ul>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>
            </div>
        </div>

        <br></br>
        <br></br>
        <br></br>

        <div class="row">
            <div class="col-sm">
                <h6>Project: Some Project</h6>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <br></br>

        <div class="row">
            <div class="col-sm">
                <h6>Working Papers</h6>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                New...
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                <ul>
                    <li><a class="" href="/wp">Coffee</a></li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>

    </div>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>