<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/adminheader :: adminheader"></head>

<body>

<div class="container">

    <div th:include="fragments/adminnavbar:: adminnavbar"></div>

    <div class="row mt-2">
        <div class="col-md-7">
            <div class="well">
                <div class="text-left">
                    <h4 class="display-6">Create new Task</h4>
                    <form id="newhelptextform"
                          th:action="@{/admin/task}"
                          th:object="${task}"
                          method="POST"
                          enctype="multipart/form-data">

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p th:text="#{form.newhelptext.hasErrors}">Error Message</p>
                        </div>

                        <div th:if="${errMsg}" class="alert alert-danger">
                            <p th:text="${errMsg}">Error Message</p>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('taskType')} ? 'form-group has-error' : 'form-group'">
                                    <label for="taskType" th:text="#{task.taskType}">HelpTextName</label>
                                    <select class="form-control" id="taskType" th:field="*{taskType}">
                                        <option th:each="taskType : ${taskTypes}"
                                                th:value="${taskType.id}"
                                                th:utext="${taskType.cdeDesc}"/>
                                    </select>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('taskType')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('taskType')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('taskCde')} ? 'form-group has-error' : 'form-group'">
                                    <label for="taskCde" th:text="#{task.taskCde}">HelpTextName</label>
                                    <input type="text" id="taskCde" name="taskCde" class="form-control" th:field="*{taskCde}" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('taskCde')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('taskCde')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('menuDesc')} ? 'form-group has-error' : 'form-group'">
                                    <label for="menuDesc" th:text="#{task.menuDesc}">HelpText Text</label>
                                    <input type="text"  class="form-control" id="menuDesc" name="menuDesc" th:field="*{menuDesc}" th:errorclass="is-invalid"></textarea>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('menuDesc')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('menuDesc')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('taskDesc')} ? 'form-group has-error' : 'form-group'">
                                    <label for="taskDesc" th:text="#{task.taskDesc}">HelpText Text</label>
                                    <input type="text" class="form-control" id="taskDesc" name="taskDesc" th:field="*{taskDesc}" th:errorclass="is-invalid"></textarea>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('taskDesc')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('taskDesc')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('successDesc')} ? 'form-group has-error' : 'form-group'">
                                    <label for="successDesc" th:text="#{task.successDesc}">HelpText Text</label>
                                    <input type="text" class="form-control" id="successDesc" name="successDesc" th:field="*{successDesc}" th:errorclass="is-invalid"></textarea>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('successDesc')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('successDesc')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('appName')} ? 'form-group has-error' : 'form-group'">
                                    <label for="appName" th:text="#{task.appName}">HelpText Text</label>
                                    <input type="text" class="form-control" id="appName" name="appName" th:field="*{appName}" th:errorclass="is-invalid"></textarea>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('appName')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('appName')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('classPath')} ? 'form-group has-error' : 'form-group'">
                                    <label for="classPath" th:text="#{task.classPath}">HelpText Text</label>
                                    <input type="text"  class="form-control" id="classPath" name="classPath" th:field="*{classPath}" th:errorclass="is-invalid"></textarea>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('classPath')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('classPath')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a type="button" class="btn btn-primary" href="/admin/task">Cancel</a>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

<div th:include="fragments/adminfooter:: adminfooter"></div>

</body>
</html>