<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/adminheader :: adminheader"></head>

<body>

<div class="container">

    <div th:include="fragments/adminnavbar:: adminnavbar"></div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div>
                <h4 class="display-7 text-left" th:text="'Help Text: ' + ${helpText.name}">HelpText: </h4>
            </div>
            <div>
                <h5 class="display-8">Modify</h5>
                <hr>
            </div>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-md-7">
            <div class="well">
                <div class="text-left">
                    <form id="updatehelptextform"
                          th:action="@{|/admin/helptext/mod/${helpText.id}|}"
                          th:object="${helpText}"
                          method="POST"
                          enctype="multipart/form-data">

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p th:text="#{form.newhelptext.hasErrors}">Error Message</p>
                        </div>

                        <div th:if="${errMsg}" class="alert alert-danger">
                            <p th:text="${errMsg}">Error Message</p>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                                    <label for="name" th:text="#{helpText.name}">HelpTextName</label>
                                    <input type="text" id="name" name="name" class="form-control" th:field="*{name}" th:errorclass="is-invalid" readonly/>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('name')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('txt')} ? 'form-group has-error' : 'form-group'">
                                    <label for="txt" th:text="#{helpText.txt}">HelpText Text</label>
                                    <textarea class="form-control" id="txt" name="txt" rows="5" th:field="*{txt}" th:errorclass="is-invalid"></textarea>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('name')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('txt')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a type="button" class="btn btn-primary" href="/admin/helptext">Cancel</a>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

<div th:include="fragments/adminfooter:: adminfooter"></div>

</body>
</html>