
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="adminmenu">

    <div>
        <ul class="nav nav-tabs mt-1">
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/task' ? 'active':''}"><a th:href="@{/admin/task}"><span>Tasks</span></a></li>
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/helptext' ? 'active':''}"><a th:href="@{/admin/helptext}"><span>Help Text</span></a></li>
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/codetype' ? 'active':''}"><a th:href="@{/admin/codetype}"><span>Codes</span></a></li>
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/team' ? 'active':''}"><a th:href="@{/admin/team}"><span>Teams</span></a></li>
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/user' ? 'active':''}"><a th:href="@{/admin/user}"><span>Users</span></a></li>
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/localdatasource' ? 'active':''}"><a th:href="@{/admin/localdatasource}"><span>Local Data Sources</span></a></li>
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/jobserver' ? 'active':''}"><a th:href="@{/admin/jobserver}"><span>Job Server</span></a></li>
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/help' ? 'active':''}"><a th:href="@{/admin/help}"><span>Help</span></a></li>
        </ul>
    </div>

</div>

</body>

</html>
