
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="adminmenu">

    <div>
        <ul class="nav nav-tabs mt-1">
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/task' ? 'active':''}"><a th:href="@{/admin/task}"><span>Tasks</span></a></li>
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/helptext' ? 'active':''}"><a th:href="@{/admin/helptext}"><span>Help Text</span></a></li>
            <li class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/codes' ? 'active':''}"><a th:href="@{/admin/codes}"><span>Codes</span></a></li>
        </ul>
    </div>

</div>

</body>

</html>



