<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<tr th:fragment="codetablerow">
    <td th:text="${codeTable.cdeDesc}">cdeDesc</td>
    <td th:text="${codeTable.cde}">cde</td>
    <td><a th:href="@{|/admin/codetable/${codeTable.id}|}" class="btn btn-outline-dark btn-sm" role="button">View</a></td>
    <td><a href="#" th:data-record-id="${codeTable.id}" th:data-record-tp="${codeTable.cdeTypeId}" th:data-record-title="${codeTable.cdeDesc}" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#confirm-delete" role="button">Delete</a></td>
</tr>

</body>

</html>
