body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.helpTextDisplay {
    -webkit-box-shadow: none!important;
    box-shadow: none;
}

.zeroPadding {
    padding: 0; */
}