<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/adminheader :: adminheader"></head>

<body>

<div class="container">

    <div th:include="fragments/adminnavbar:: adminnavbar"></div>

    <div class="row mt-2">
        <div class="col-md-7">
            <div class="well">
                <div class="text-left">
                    <h4 class="display-6">Create new Local Data Source</h4>
                    <form id="newlocaldatasourceform"
                          th:action="@{/admin/localdatasource}"
                          th:object="${localdatasource}"
                          method="POST"
                          enctype="multipart/form-data">

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p th:text="#{form.newlocaldatasource.hasErrors}">Error Message</p>
                        </div>

                        <div th:if="${errMsg}" class="alert alert-danger">
                            <p th:text="${errMsg}">Error Message</p>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" th:class="${#fields.hasErrors('fileName')} ? 'form-group has-error' : 'form-group'">
                                    <label for="fileName" th:text="#{localdatasource.fileName}">HelpTextName</label>
                                    <input type="text" id="fileName" name="fileName" class="form-control" th:field="*{fileName}" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback"  th:if="${#fields.hasErrors('fileName')}">
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('fileName')}" th:text="${err}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a type="button" class="btn btn-primary" href="/admin/localdatasource">Cancel</a>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

<div th:include="fragments/adminfooter:: adminfooter"></div>

</body>
</html>